/* Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  /*  hiệu ứng cuộn trang */
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
/* 
1. vị trí 
2. kích thước(width , height)
3. màu sắc
4. kiểu dáng(kiểu chữ , hình tròn,vuông..)
*/
#main {

}
/* comman */

.white-text {
    color: #fff !important;
}

.text-center {
    text-align: center !important
}

.mt-8 {
    margin-top: 8px !important
}

.mt-16 {
    margin-top: 16px !important
}

.mt-32 {
    margin-top: 32px !important
}

.pull-right {
    float: right;
}

.btn {
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top: 15px;
    border: none;
    appearance: none;
    -webkit-appearance: none ;
}

.btn:hover {
    cursor: pointer;
    color:#000;
    background-color: #ccc  ;
}

.clear {
   clear: both;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content:"";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left:8px ;
    padding-right: 8px ;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}


/* Phần heading */
#header {
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 46px;
    /* chieu sau cua div */
    z-index: 1;
}

#nav {
    display: inline-block   ;
}

#nav , .subnav {
   list-style-type: none;
}

#nav > li {
  display: inline-block;
}

#nav li {
   position: relative;
}

#nav .subnav {
    position: absolute ;
    min-width: 160px;
    top: 100%;
    left:0;
    background-color: #fff;
    box-shadow: 0 0 11px rgba(62, 40, 40, 0.5);
    display: none;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
   text-decoration: none; 
   line-height: 46px; 
   padding: 0 24px;  
   display: block;
}

#nav .subnav a {
    color: #000000;
    padding: 0 16px;
    line-height: 38px;
}

#nav li:hover .subnav{
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .nav-arrow-down {
    font-size: 13px;
}

#header .moblie-menu-btn {
   position: absolute;
   right: 0;
   top: 0;
   display: none;
}

#header .moblie-menu-btn,
#header .search-btn {
   float: right;
   padding: 0 18px;
}

#header .moblie-menu-btn:hover {
   background-color: #ccc;
}

#header .moblie-menu-btn:hover .menu-icon {
    color: #000;
 }

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

/* Phần Slider */

#slider {
  position: relative;
  margin-top: 46px;
  padding-top:50%;
  background: url(../img/ny.jpg) top center / cover no-repeat;
}

#slider .text-conten {
   position: absolute;
   bottom: 0;
   margin-bottom: 48px;
   color: #fff;
   text-align: center;
   width: 100%;
}

#slider .text-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .text-description {
    font-size: 15px;
    margin-top: 25px;
    text-shadow: 0 0 1px #000;
} 

/* Phần Conten */

#content {

}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    text-align: center;
    margin: 25px 0;
    font-style: italic;
    /* điều chỉnh độ trong suất */
    opacity: 0.6;
}

#content .about-text {
    margin-top: 15px;
    font-size: 15px;
    /* độ rông giửa hai dòng tiếng anh là 1.4 , tiếng việt là 1.6 */
    line-height: 1.4;
    /* căn đều chử sang hai bên */
    text-align: justify;
}

#content .members-list {
    margin-top: 32px;
}

#content .member-name {
    font-size: 15px;
    margin: 15px 0;
}

#content .member-img {
   width: 154px;
   border-radius: 4px;
}

/* Tour section */
.tour-section {
    background-color: #000;
}
.tickets-list {
  background-color: #fff;
  margin-top: 40px;
  list-style: none;
}

.tickets-list li {
  color: #757575;
  font-size: 15px;
  padding: 11px 16px;
  border-bottom: 1px solid #ddd;
}

.tickets-list .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.tickets-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    line-height: 24px;
    margin-top: -3px;
}

.places-list {
    margin-top: 16px;
}

.place-img {
  display: block;
   width: 100%;
}

.place-img:hover {
    opacity: 0.6;
}

.place-body {
    padding: 16px;
    background-color: #fff;
    font-size: 15px;
}

.place-heading {
    font-size: 15px;
}

.place-time {
    margin-top: 15px;
    opacity: 0.6;
}

.place-desc {
    margin-top: 15px;
    line-height: 1.4;
}


/* contact form */
.contact-content {
   margin-top: 48px;
}

.contact-info {
   font-size: 18px;
   line-height: 1.5;
}

.contact-info i[class *="ti-"] {
   width: 30px;
   display: inline-block;
}
.contact-info a {
    color: #101aef;
    opacity: 0.7;
}
.contact-info a:hover {
    opacity: 1;
}
.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
/* Map section */
.map-section img {
   width: 100%;
}

/* Phần Footer */

#footer {
   padding: 64px 16px;
   text-align: center; 
}

#footer .social-list {
    font-size: 22px;
}

#footer .social-list a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

#footer .copyright a:hover ,
#footer .social-list a:hover {
    color: rgba(0, 0, 0, 0.4);
}

#footer .copyright {
    margin-top: 15px;
    color: rgba(0, 0, 0, 0.6);
}

#footer .copyright a {
    color: rgba(0, 0, 0, 0.6);
}

/* Phần model */
.model {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.model.open {
    display: flex;
}

.model-container {
    position: relative;
    background: #fff;
    width: 900px;
    max-width: calc(100% - 48px);
    min-height: 200px;
    animation: modelFadeIn ease .5s;
}

.model-header {
    min-height: 129px;
    background: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}
.model-heading-icon {
    margin-right: 10px;
}

.model-close {
    position: absolute;
    color: #fff;
    right: 0;
    top: 0;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.model-close:hover {
   opacity: 1;
}

.model-body {
    padding: 16px;
}

.model-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.model-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    margin-bottom: 24px;
    font-size: 15px;
}

#buy-tickets {
    width: 100%;
    border: none;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    padding: 16px;
    background: #009688;
    cursor: pointer;
}

#buy-tickets:hover {
   opacity: 0.9;
}

.ti-check {
    padding: 3px;
}

.model-footer {
    padding: 16px;
    text-align: right;
}

.model-footer a {
    color: #2196f3;
}

@keyframes modelFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to { 
        opacity: 1;
        transform: translateY(0);
    }
}